<a href="https://colab.research.google.com/github/rafikaTab/CHECKPOINT_1/blob/master/Association_Rules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**- Load DATASET**

In [30]:
dataset = [['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],
           ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],
           ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],
           ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],
           ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]

In [42]:
# Exploring the columns of the data 
df.columns

Index(['Dress', 'Earrings', 'Hat', 'Heels', 'Necklace', 'Pants', 'Sandals',
       'Scarf', 'Shirt', 'Skirt', 'Sneakers', 'Sunglasses'],
      dtype='object')

**-Apriori Preparation**

In [37]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   Dress  Earrings    Hat  Heels  ...  Shirt  Skirt  Sneakers  Sunglasses
0  False     False   True  False  ...  False   True      True       False
1  False     False   True  False  ...  False   True      True        True
2   True     False  False   True  ...  False  False     False       False
3   True      True   True   True  ...  False  False     False       False
4  False      True  False  False  ...   True   True     False       False

[5 rows x 12 columns]

**- Support Code**

In [39]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.6)

   support itemsets
0      0.6      (2)
1      0.8      (5)
2      0.8      (7)
3      0.6      (9)
4      0.6   (5, 7)
5      0.6   (9, 5)

**-Support with column names**

In [40]:
frequent_itemsets=apriori(df, min_support=0.6, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

   support        itemsets
0      0.6           (Hat)
1      0.8         (Pants)
2      0.8         (Scarf)
3      0.6         (Skirt)
4      0.6  (Scarf, Pants)
5      0.6  (Skirt, Pants)

In [43]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

   support        itemsets  length
0      0.6           (Hat)       1
1      0.8         (Pants)       1
2      0.8         (Scarf)       1
3      0.6         (Skirt)       1
4      0.6  (Scarf, Pants)       2
5      0.6  (Skirt, Pants)       2

**- Confidence Code**

In [44]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7) # associate itemsets with confidence over 70%.

  antecedents consequents  antecedent support  ...    lift  leverage  conviction
0     (Scarf)     (Pants)                 0.8  ...  0.9375     -0.04         0.8
1     (Pants)     (Scarf)                 0.8  ...  0.9375     -0.04         0.8
2     (Skirt)     (Pants)                 0.6  ...  1.2500      0.12         inf
3     (Pants)     (Skirt)                 0.8  ...  1.2500      0.12         1.6

[4 rows x 9 columns]

**- lift Code**

In [45]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)

  antecedents consequents  antecedent support  ...  lift  leverage  conviction
0     (Skirt)     (Pants)                 0.6  ...  1.25      0.12         inf

[1 rows x 9 columns]

In [53]:
import pandas as pd

data=pd.read_csv('Market_Basket_Optimisation.csv',sep=',')
data

              shrimp            almonds  ... spinach olive oil
0            burgers          meatballs  ...     NaN       NaN
1            chutney                NaN  ...     NaN       NaN
2             turkey            avocado  ...     NaN       NaN
3      mineral water               milk  ...     NaN       NaN
4     low fat yogurt                NaN  ...     NaN       NaN
...              ...                ...  ...     ...       ...
7495          butter         light mayo  ...     NaN       NaN
7496         burgers  frozen vegetables  ...     NaN       NaN
7497         chicken                NaN  ...     NaN       NaN
7498        escalope          green tea  ...     NaN       NaN
7499            eggs    frozen smoothie  ...     NaN       NaN

[7500 rows x 20 columns]

In [26]:
import numpy as np 
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

In [54]:
# Exploring the columns of the data 
data.columns

Index(['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes',
       'whole weat flour', 'yams', 'cottage cheese', 'energy drink',
       'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad',
       'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie',
       'spinach', 'olive oil'],
      dtype='object')

In [56]:
data.isnull().sum()

shrimp                  0
almonds              1754
avocado              3112
vegetables mix       4156
green grapes         4972
whole weat flour     5637
yams                 6132
cottage cheese       6520
energy drink         6847
tomato juice         7106
low fat yogurt       7245
green tea            7347
honey                7414
salad                7454
mineral water        7476
salmon               7493
antioxydant juice    7497
frozen smoothie      7497
spinach              7498
olive oil            7500
dtype: int64

**- Apriori Preparation**

In [59]:
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_ary=te.fit(data).transform(data)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

                 a      b      c      d  ...      v      w      x      y      z
0      True  False  False  False  False  ...  False  False  False  False  False
1     False   True  False  False  False  ...  False  False  False  False  False
2     False  False   True  False  False  ...  False  False  False  False  False
3     False  False  False   True  False  ...  False  False  False  False  False
4     False  False  False  False   True  ...  False  False  False  False  False
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
7495  False  False  False  False  False  ...  False  False  False  False  False
7496  False  False  False  False  False  ...  False  False  False  False  False
7497  False  False  False  False  False  ...  False  False  False  False  False
7498  False  False  False  False  False  ...  False  False  False  False  False
7499  False  False  False  False  False  ...  False  False  False  False  False

[7500 rows x 26 columns]

**- support Code**

In [61]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.6)

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [62]:
frequent_itemsets=apriori(data, min_support=0.6, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [33]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7) # associate itemsets with confidence over 70%.

ValueError: ignored

**- Lift Code**

In [63]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)

ValueError: ignored