In [38]:
import pandas as pd

df=pd.read_csv('titanic-passengers.csv',sep=';')

In [39]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,10,Yes,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
887,61,No,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
888,535,No,3,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,NaN,S
889,102,No,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
890,428,Yes,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",female,19.0,0,0,250655,26.0000,NaN,S

In [40]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [41]:
df["Cabin"].value_counts()

C23 C25 C27    4
B96 B98        4
G6             4
F2             3
F33            3
              ..
D15            1
B30            1
D45            1
C95            1
C62 C64        1
Name: Cabin, Length: 147, dtype: int64

In [5]:
number_of_elements = len(df["Cabin"])
print("Number of elements :", number_of_elements)
print(df["Cabin"].value_counts())
df["Cabin"].fillna('D6', inplace=True)
df.tail()

Number of elements : 891
C23 C25 C27    4
B96 B98        4
G6             4
F2             3
F33            3
              ..
D15            1
B30            1
D45            1
C95            1
C62 C64        1
Name: Cabin, Length: 147, dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,10,Yes,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,D6,C
887,61,No,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,D6,C
888,535,No,3,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,D6,S
889,102,No,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,D6,S
890,428,Yes,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",female,19.0,0,0,250655,26.0000,D6,S

In [42]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [43]:
df["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [9]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin            0
Embarked         2
dtype: int64

In [44]:
moyenne=df["Age"].mean()

In [45]:
df["Age"].fillna(round(moyenne),inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [46]:
df["Embarked"].fillna("S",inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [47]:
df["Cabin"].fillna("D6",inplace=True)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [48]:
#import relevant libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [56]:
# preparing our data for logistic regression
df['Survived']=df['Survived'].map({'No' : 0 , 'Yes' : 1})
#df['Sex']=df['Sex'].map({'male' : 1 , 'female' : 2})
#df['Embarked']=df['Embarked'].map({'S' : 0 , 'C' : 1 , 'Q' : 2})
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,NaN,2,"Collander, Mr. Erik Gustaf",1,28.0,0,0,248740,13.0000,D6,S
1,76,NaN,3,"Moen, Mr. Sigurd Hansen",1,25.0,0,0,348123,7.6500,F G73,S
2,641,NaN,3,"Jensen, Mr. Hans Peder",1,20.0,0,0,350050,7.8542,D6,S
3,568,NaN,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",2,29.0,0,4,349909,21.0750,D6,S
4,672,NaN,1,"Davidson, Mr. Thornton",1,31.0,1,0,F.C. 12750,52.0000,B71,S

In [50]:
df['Sex']=df['Sex'].map({'male' : 1 , 'female' : 2})

In [14]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,0,2,"Collander, Mr. Erik Gustaf",1,28.0,0,0,248740,13.0000,D6,S
1,76,0,3,"Moen, Mr. Sigurd Hansen",1,25.0,0,0,348123,7.6500,F G73,S
2,641,0,3,"Jensen, Mr. Hans Peder",1,20.0,0,0,350050,7.8542,D6,S
3,568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",2,29.0,0,4,349909,21.0750,D6,S
4,672,0,1,"Davidson, Mr. Thornton",1,31.0,1,0,F.C. 12750,52.0000,B71,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",2,14.0,1,0,237736,30.0708,D6,C
887,61,0,3,"Sirayanian, Mr. Orsen",1,22.0,0,0,2669,7.2292,D6,C
888,535,0,3,"Cacic, Miss. Marija",2,30.0,0,0,315084,8.6625,D6,S
889,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",1,NaN,0,0,349215,7.8958,D6,S
890,428,1,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",2,19.0,0,0,250655,26.0000,D6,S

In [22]:
#df['Embarked']=df['Embarked'].map({'S' : 0 , 'C' : 1 , 'Q' : 2})

In [57]:
#import relevant libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

#features extraction
x=df[["Sex"]]  #, "Embarked"
y=df["Survived"]

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.35,random_state=40) #splitting data with test size of 35%

logreg = LogisticRegression()   #build our logistic model
logreg.fit(x_train, y_train)  #fitting training data
y_pred  = logreg.predict(x_test)    #testing modelâ€™s performance
print("Accuracy={:.2f}".format(logreg.score(x_test, y_test)))

C:\Users\TABTI\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [25]:
#import relevant libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

#features extraction
x=df[["Sex","Parch","Fare"]]  #, "Embarked"
y=df["Survived"]

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=40) #splitting data with test size of 35%

logreg = LogisticRegression()   #build our logistic model
logreg.fit(x_train, y_train)  #fitting training data
y_pred  = logreg.predict(x_test)    #testing modelâ€™s performance
print("Accuracy=",logreg.score(x_test, y_test))

Accuracy= 0.7374301675977654

C:\Users\TABTI\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [58]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,NaN,2,"Collander, Mr. Erik Gustaf",1,28.0,0,0,248740,13.0000,D6,S
1,76,NaN,3,"Moen, Mr. Sigurd Hansen",1,25.0,0,0,348123,7.6500,F G73,S
2,641,NaN,3,"Jensen, Mr. Hans Peder",1,20.0,0,0,350050,7.8542,D6,S
3,568,NaN,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",2,29.0,0,4,349909,21.0750,D6,S
4,672,NaN,1,"Davidson, Mr. Thornton",1,31.0,1,0,F.C. 12750,52.0000,B71,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,10,NaN,2,"Nasser, Mrs. Nicholas (Adele Achem)",2,14.0,1,0,237736,30.0708,D6,C
887,61,NaN,3,"Sirayanian, Mr. Orsen",1,22.0,0,0,2669,7.2292,D6,C
888,535,NaN,3,"Cacic, Miss. Marija",2,30.0,0,0,315084,8.6625,D6,S
889,102,NaN,3,"Petroff, Mr. Pastcho (""Pentcho"")",1,30.0,0,0,349215,7.8958,D6,S
890,428,NaN,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",2,19.0,0,0,250655,26.0000,D6,S

In [107]:
import pandas as pd
import numpy as np
df=pd.read_csv('titanic-passengers.csv',sep=';')
#data = pd.read_csv("D://Blogs//train.csv")
X = df.iloc[:,0:20]  #independent columns
y = df.iloc[:,-1]    #target column i.e price range
from sklearn.ensemble import ExtraTreesClassifier
import matplotlib.pyplot as plt
model = ExtraTreesClassifier()
model.fit(X,y)
print(model.feature_importances_) #use inbuilt class feature_importances of tree based classifiers
#plot graph of feature importances for better visualization
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
feat_importances.nlargest(10).plot(kind='barh')
plt.show()

C:\Users\TABTI\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ValueError: could not convert string to float: 'No'

In [59]:
df
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
X = df[["PassengerId","Pclass","Sex","Age","SibSp","Parch","Fare"]]

principalComponents = pca.fit_transform(X)

In [54]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,NaN,2,"Collander, Mr. Erik Gustaf",1,28.0,0,0,248740,13.0000,D6,S
1,76,NaN,3,"Moen, Mr. Sigurd Hansen",1,25.0,0,0,348123,7.6500,F G73,S
2,641,NaN,3,"Jensen, Mr. Hans Peder",1,20.0,0,0,350050,7.8542,D6,S
3,568,NaN,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",2,29.0,0,4,349909,21.0750,D6,S
4,672,NaN,1,"Davidson, Mr. Thornton",1,31.0,1,0,F.C. 12750,52.0000,B71,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,10,NaN,2,"Nasser, Mrs. Nicholas (Adele Achem)",2,14.0,1,0,237736,30.0708,D6,C
887,61,NaN,3,"Sirayanian, Mr. Orsen",1,22.0,0,0,2669,7.2292,D6,C
888,535,NaN,3,"Cacic, Miss. Marija",2,30.0,0,0,315084,8.6625,D6,S
889,102,NaN,3,"Petroff, Mr. Pastcho (""Pentcho"")",1,30.0,0,0,349215,7.8958,D6,S
890,428,NaN,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",2,19.0,0,0,250655,26.0000,D6,S

In [103]:
# logistic regression distribution 
import seaborn as sns
sns.regplot(x='Sex',y='Survived',df=df,logistic=True)

TypeError: regplot() got an unexpected keyword argument 'df'

In [99]:
# importing the classification report
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.80      0.83      0.81       189
           1       0.72      0.69      0.71       123

    accuracy                           0.77       312
   macro avg       0.76      0.76      0.76       312
weighted avg       0.77      0.77      0.77       312

In [104]:
confusion_matrix = pd.crosstab(y_test,y_pred, rownames=['Actual'],colnames=['predicted'])
print(confusion_matrix)

predicted    0   1
Actual
0          156  33
1           38  85

In [62]:
from sklearn.metrics import roc_curve, auc
fpr,tpr,thresholds=roc_curve(y_test,y_pred)
auc_logs=auc(fpr,tpr)
plt.plot(fpr, tpr, color='orange', label='ROC')
plt.plot([0, 1], [0, 1], color='darkblue', linestyle='--')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver Operating Characteristic (ROC) Curve')
plt.legend()
plt.show()

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [63]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,NaN,2,"Collander, Mr. Erik Gustaf",1,28.0,0,0,248740,13.0000,D6,S
1,76,NaN,3,"Moen, Mr. Sigurd Hansen",1,25.0,0,0,348123,7.6500,F G73,S
2,641,NaN,3,"Jensen, Mr. Hans Peder",1,20.0,0,0,350050,7.8542,D6,S
3,568,NaN,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",2,29.0,0,4,349909,21.0750,D6,S
4,672,NaN,1,"Davidson, Mr. Thornton",1,31.0,1,0,F.C. 12750,52.0000,B71,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,10,NaN,2,"Nasser, Mrs. Nicholas (Adele Achem)",2,14.0,1,0,237736,30.0708,D6,C
887,61,NaN,3,"Sirayanian, Mr. Orsen",1,22.0,0,0,2669,7.2292,D6,C
888,535,NaN,3,"Cacic, Miss. Marija",2,30.0,0,0,315084,8.6625,D6,S
889,102,NaN,3,"Petroff, Mr. Pastcho (""Pentcho"")",1,30.0,0,0,349215,7.8958,D6,S
890,428,NaN,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",2,19.0,0,0,250655,26.0000,D6,S

In [64]:
df['Survived']=df['Survived'].map({'No' : 0 , 'Yes' : 1})
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,NaN,2,"Collander, Mr. Erik Gustaf",1,28.0,0,0,248740,13.0000,D6,S
1,76,NaN,3,"Moen, Mr. Sigurd Hansen",1,25.0,0,0,348123,7.6500,F G73,S
2,641,NaN,3,"Jensen, Mr. Hans Peder",1,20.0,0,0,350050,7.8542,D6,S
3,568,NaN,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",2,29.0,0,4,349909,21.0750,D6,S
4,672,NaN,1,"Davidson, Mr. Thornton",1,31.0,1,0,F.C. 12750,52.0000,B71,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,10,NaN,2,"Nasser, Mrs. Nicholas (Adele Achem)",2,14.0,1,0,237736,30.0708,D6,C
887,61,NaN,3,"Sirayanian, Mr. Orsen",1,22.0,0,0,2669,7.2292,D6,C
888,535,NaN,3,"Cacic, Miss. Marija",2,30.0,0,0,315084,8.6625,D6,S
889,102,NaN,3,"Petroff, Mr. Pastcho (""Pentcho"")",1,30.0,0,0,349215,7.8958,D6,S
890,428,NaN,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",2,19.0,0,0,250655,26.0000,D6,S